---

---

<div class="friend-grid">
    <slot name="left" />
    <slot name="right" />
</div>

<style>
    .friend-grid {
        position: relative;
        align-items: start;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-template-rows: auto;
    }

    @media screen and (max-width: 1380px) {
        .friend-grid {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width: 640px) {
        .friend-grid {
            margin: 0 1rem;
            gap: 1rem;
        }
    }
</style>
